body {
    background: #eee;
}

#form2 {
    border: solid gray 1px;
    width: 25%;
    margin: 120px auto;
    background: white;
    padding: 50px;
}

#btn3 {
    color: #fff;
    background: #337ab7;
    padding: 7px;
}

.sec111 {
    color: #fff;
    background: #337ab7;
    padding: 6px;
    text-decoration: none;
    border: 2px solid black;
}